
.mnemonic {
    -fx-fill: blue;
    -fx-font-weight: bold;
}

.registry {
    -fx-fill: green;
    -fx-font-weight: bold;
}

.directive {
    -fx-fill: crimson;
    -fx-font-weight: bold;
}

.label_j {
    -fx-fill: darkorange;
    -fx-font-weight: bold;
}

.comment {
    -fx-fill: cadetblue;
}

#codearea {
    -fx-font-family: consolas;
    -fx-font-size: 14px;
}

.rest {
    -fx-fill: whitesmoke;
}